
.jumbotron{
    margin-bottom: 0px;
    color: white;
    background-color:blueviolet;
    align-content:center;


}
.text-center{
    font-size: 30px;
    font-weight: 400px;
    font-family: sans-serif;
    align-items: center;
    
}
.row{
    margin-bottom: 20px;

}
.form{
    color:darkgreen;
    shape-outside: border-box;
}
.text-2{
    font-size: 30px;
    color: brown;
    
}
.btn{
    color: rgb(22, 119, 216);
    cursor: pointer;
    
}